.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    .left-elem{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
        .articles{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            p{
                padding: 1rem;
            }
        }
    }
    
}


.join{
     background: rgba(47, 108, 229, 1);
    color: white;
    border-radius: 4px;
    padding: 0.4rem;
    
}